In [1]:
import numpy as np

In [3]:
l = [ "niraj",1,2,3,4]
type(l)

list

In [4]:
np.array(l)

array(['niraj', '1', '2', '3', '4'], dtype='<U11')

In [5]:
np.array([3,4,5,6,3.0]) # this is because numpy will only hold one data type in it.Thats the diff betn list and numpy

array([3., 4., 5., 6., 3.])

In [6]:
a = np.array([[1,2],[3,4]])
a

array([[1, 2],
       [3, 4]])

In [7]:
a[0][1]

2

In [10]:
x = np.array([3,4,5,6,3.0])
x

array([3., 4., 5., 6., 3.])

In [12]:
x = np.array([3,4,5,6,3.0],ndmin = 2) # 2 brackets means two dimensional
x

array([[3., 4., 5., 6., 3.]])

In [13]:
x = np.array([3,4,5,6,3.0], ndmin =4)
x

array([[[[3., 4., 5., 6., 3.]]]])

In [14]:
x[0]

array([[[3., 4., 5., 6., 3.]]])

In [15]:
x[0][0]

array([[3., 4., 5., 6., 3.]])

In [16]:
x[0][0][0]

array([3., 4., 5., 6., 3.])

In [17]:
x[0][0][0][0] #  this is how data is stored in the multi dimensional array

3.0

In [18]:
np.mat([1,2,3,4,5]) # matrix will return minimum of two dimension

matrix([[1, 2, 3, 4, 5]])

In [22]:
a = [1,2,3,4,5]

In [23]:
np.asanyarray(a) # converted list to an array

array([1, 2, 3, 4, 5])

In [24]:
np.mat(a) # converted list to a matrix

matrix([[1, 2, 3, 4, 5]])

In [25]:
np.asanyarray(np.mat(a)) # np.asanyarray as seen above will typecast the object into an array if the object is not array.
                         # Since, matrix is an array, it will return the matrix.

matrix([[1, 2, 3, 4, 5]])

In [37]:
np.fromfunction(lambda i, j: i == j, (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [39]:
np.fromfunction(lambda i,j : i*j , (4,4),dtype = int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [40]:
np.mat(np.fromfunction(lambda i,j : i*j , (4,4),dtype = int)) # just incase we want matrix

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [44]:
np.matrix(np.fromfunction(lambda i, j, k : i* j*k,(3,3,3), dtype = int))

ValueError: shape too large to be a matrix.

In [45]:
np.fromfunction(lambda i, j, k : i* j*k,(3,3,2), dtype = int) #(3,3,2) means 3 matrixes of 3 rows and 2 columns

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [46]:
np.fromfunction(lambda i, j, k,l : i * j * k * l,(4,3,3,2), dtype = int)

array([[[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  1],
         [ 0,  2]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]],

        [[ 0,  0],
         [ 0,  4],
         [ 0,  8]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  3],
         [ 0,  6]],

        [[ 0,  0],
         [ 0,  6],
         [ 0, 12]]]])

In [47]:
a = np.fromfunction(lambda i, j, k : i* j*k,(3,3,2), dtype = int)
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [48]:
a.ndim # tells you the dimension

3

In [49]:
a.size # total number of elements

18

In [51]:
a.shape # 3 matrixes of size 3,2

(3, 3, 2)

In [53]:
a.dtype # type of array

dtype('int32')

In [75]:
a = np.array([2, 4, -5, 2])
print('size of array =', a.size)
print('memory occupied by each elements =', a.itemsize, 'bytes')
print('memory occupied =' ,a.size*a.itemsize ,'bytes')

size of array = 4
memory occupied by each elements = 4 bytes
memory occupied = 16 bytes

In [76]:
output  = np.arange(12,24).reshape(3,4)
output

array([[12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [54]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [55]:
import pandas as pd
pd.DataFrame(a) # its because dataframe(tablular) is a 2d matrix.so we cant insert 3d matrix

ValueError: Must pass 2-d input. shape=(3, 3, 2)

In [66]:
np.random.rand(3,4) #3 row 4 columns of random numbers

array([[0.74849576, 0.49911135, 0.10307172, 0.67611508],
       [0.03333779, 0.92773868, 0.21576796, 0.97682037],
       [0.34527076, 0.16674796, 0.35987103, 0.99478759]])

In [57]:
np.random.randint(4,50) # gives a single integer between 4 and 50

5

In [77]:
np.random.seed(0) # seed helps to get same number everytime when we enter the same seed
np.random.randn(2,10) # the distn is normal.Mean 0, std 1

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ,  1.86755799,
        -0.97727788,  0.95008842, -0.15135721, -0.10321885,  0.4105985 ],
       [ 0.14404357,  1.45427351,  0.76103773,  0.12167502,  0.44386323,
         0.33367433,  1.49407907, -0.20515826,  0.3130677 , -0.85409574]])

In [78]:
np.random.seed(0)
pd.DataFrame(np.random.randn(2,10))

,0,1,2,3,4,5,6,7,8,9
0,1.764052,0.400157,0.978738,2.240893,1.867558,-0.977278,0.950088,-0.151357,-0.103219,0.410599
1,0.144044,1.454274,0.761038,0.121675,0.443863,0.333674,1.494079,-0.205158,0.313068,-0.854096

In [80]:
x = np.fromfunction(lambda i, j, k : i* j*k,(3,3,2), dtype = int)
x

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [82]:
x = x.reshape(3,6) #reshaping the array (must be in multiple of number of elements)
x

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4]])

In [83]:
pd.DataFrame(x)

   0  1  2  3  4  5
0  0  0  0  0  0  0
1  0  0  0  1  0  2
2  0  0  0  2  0  4

In [89]:
x.reshape(2,-1) #-ve means multiple(whichever number after -ve doesnt matter). In this case, -1 means 9 as we have 18 elements.
                #so, 2 rows of 9 elements

array([[0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 2, 0, 0, 0, 2, 0, 4]])

In [93]:
x.reshape(3,-81981902) # -ve is multiple.In this case it is 6, so 3 rows of 6 elements.

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4]])

In [98]:
x.reshape(2,3,-343) # -343 in this case is 3.since it is a 3d array, 2 stacks of 3*3 matrix will be created.

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[1, 0, 2],
        [0, 0, 0],
        [2, 0, 4]]])

In [99]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -2.552990  0.653619  0.864436 -0.742165  2.269755
1 -1.454366  0.045759 -0.187184  1.532779  1.469359
2  0.154947  0.378163 -0.887786 -1.980796 -0.347912
3  0.156349  1.230291  1.202380 -0.387327 -0.302303

In [101]:
list(range(4,10,.2)) # not possible because range takes only integer value

TypeError: 'float' object cannot be interpreted as an integer

In [103]:
list(range(4,10.5,2))

TypeError: 'float' object cannot be interpreted as an integer

In [102]:
np.arange(4,10,0.2) # np.arange is a range function of numpy

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [104]:
np.arange(4,10.5,2)

array([ 4.,  6.,  8., 10.])

In [110]:
a1 = np.arange(4,10.5,.2)
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [112]:
a1[1:4] #same as list

array([4.2, 4.4, 4.6])

In [113]:
a1[::-1]

array([10.4, 10.2, 10. ,  9.8,  9.6,  9.4,  9.2,  9. ,  8.8,  8.6,  8.4,
        8.2,  8. ,  7.8,  7.6,  7.4,  7.2,  7. ,  6.8,  6.6,  6.4,  6.2,
        6. ,  5.8,  5.6,  5.4,  5.2,  5. ,  4.8,  4.6,  4.4,  4.2,  4. ])

In [117]:
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [118]:
#extract data greater than .5
a1[a1 > 5] # same as pandas

array([ 5. ,  5.2,  5.4,  5.6,  5.8,  6. ,  6.2,  6.4,  6.6,  6.8,  7. ,
        7.2,  7.4,  7.6,  7.8,  8. ,  8.2,  8.4,  8.6,  8.8,  9. ,  9.2,
        9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [130]:
x = x.reshape(3,6)
x

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4]])

### Extract
            1,0
            2,0 from the data

In [146]:
x[1:3,3:5] #slicing

array([[1, 0],
       [2, 0]])

In [2]:
import numpy as np
arr = np.random.rand(8,5)
arr

array([[0.65513458, 0.64321804, 0.9570043 , 0.97550941, 0.62687214],
       [0.6308558 , 0.20654173, 0.78931117, 0.19084858, 0.38185433],
       [0.08033423, 0.26346223, 0.99993824, 0.0817763 , 0.72872401],
       [0.60764967, 0.28608335, 0.54214186, 0.92183905, 0.07968576],
       [0.79161155, 0.11797077, 0.81223369, 0.12049031, 0.43789428],
       [0.5275163 , 0.83439993, 0.15973204, 0.65254381, 0.89190808],
       [0.67554568, 0.97253845, 0.91063803, 0.49096484, 0.86655818],
       [0.81273131, 0.67302357, 0.15367429, 0.09499367, 0.69459012]])

In [3]:
arr[1:8,0:3]

array([[0.6308558 , 0.20654173, 0.78931117],
       [0.08033423, 0.26346223, 0.99993824],
       [0.60764967, 0.28608335, 0.54214186],
       [0.79161155, 0.11797077, 0.81223369],
       [0.5275163 , 0.83439993, 0.15973204],
       [0.67554568, 0.97253845, 0.91063803],
       [0.81273131, 0.67302357, 0.15367429]])

In [4]:
a = np.array([[1,2],[3,4]])
b = np.array([[2,3],[4,5]])

In [5]:
a*b #element wise multiplication

array([[ 2,  6],
       [12, 20]])

In [6]:
m = a@b #it is a matrix multiplication
m

array([[10, 13],
       [22, 29]])

In [7]:
m/0

C:\Users\ROKAYA~1\AppData\Local\Temp/ipykernel_6348/3791875896.py:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])

### Day -- 2

In [8]:
import numpy as np

In [9]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [10]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [11]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [12]:
np.ones((3,6))

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [13]:
5 + np.zeros((3,4)) #example of broadcasting

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

In [14]:
#Note : The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations. Subject 
#to certain constraints, the smaller array is “broadcast” across the larger array so that they have compatible shapes.

In [15]:
np.empty((4,5))

array([[6.23042070e-307, 3.56043053e-307, 1.60219306e-306,
        7.56571288e-307, 1.89146896e-307],
       [1.37961302e-306, 1.05699242e-307, 8.01097889e-307,
        1.78020169e-306, 7.56601165e-307],
       [1.02359984e-306, 1.33510679e-306, 2.22522597e-306,
        6.23053614e-307, 1.33511562e-306],
       [6.89805151e-307, 1.05700515e-307, 1.11261774e-306,
        1.29060871e-306, 8.34424766e-308]])

In [16]:
a = np.linspace(2,6,10)#only single dimensional array as output.Produce 10 numbers between 2 and 6
a                      #upper bound is also included by default.But we can change it as shown below.

array([2.        , 2.44444444, 2.88888889, 3.33333333, 3.77777778,
       4.22222222, 4.66666667, 5.11111111, 5.55555556, 6.        ])

In [17]:
a.reshape(2,5)

array([[2.        , 2.44444444, 2.88888889, 3.33333333, 3.77777778],
       [4.22222222, 4.66666667, 5.11111111, 5.55555556, 6.        ]])

In [18]:
a = np.linspace(2,6,10,endpoint = False,retstep = True) #excluding upper bound #retstep shows the spacing
a

(array([2. , 2.4, 2.8, 3.2, 3.6, 4. , 4.4, 4.8, 5.2, 5.6]), 0.4)

In [19]:
np.logspace(2,6,10)

array([1.00000000e+02, 2.78255940e+02, 7.74263683e+02, 2.15443469e+03,
       5.99484250e+03, 1.66810054e+04, 4.64158883e+04, 1.29154967e+05,
       3.59381366e+05, 1.00000000e+06])

In [20]:
np.logspace(2,6,10,base = 2)

array([ 4.        ,  5.44316   ,  7.4069977 , 10.0793684 , 13.71590373,
       18.66446463, 25.39841683, 34.56191164, 47.03150375, 64.        ])

In [21]:
a = np.arange(16).reshape(4,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [22]:
a.max()

15

In [23]:
a.max(axis = 1) # axis = 1, search for the max element of every column and gives the array

array([ 3,  7, 11, 15])

In [24]:
a.max(axis = 0) # # axis = 0, search for the max element of every row and gives the array

array([12, 13, 14, 15])

In [25]:
pow(a,2)

array([[  0,   1,   4,   9],
       [ 16,  25,  36,  49],
       [ 64,  81, 100, 121],
       [144, 169, 196, 225]], dtype=int32)

In [26]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [28]:
b = np.array([2,3,1,2])

In [29]:
a + b  # adds a and b, row wise. example of broadcasting

array([[ 2,  4,  3,  5],
       [ 6,  8,  7,  9],
       [10, 12, 11, 13],
       [14, 16, 15, 17]])

In [30]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [37]:
b = b.T
b     #transpose is not possible because it is 1d. Transpose means changing row to column and column to row

array([2, 3, 1, 2])

In [42]:
b = b.reshape([1,-1]) #  converting b to 2d
b = b.T #transposing b
b

array([[2],
       [3],
       [1],
       [2]])

In [40]:
a + b

array([[ 2,  3,  4,  5],
       [ 7,  8,  9, 10],
       [ 9, 10, 11, 12],
       [14, 15, 16, 17]])

In [46]:
np.sqrt(a)

array([[0.        , 1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974, 2.64575131],
       [2.82842712, 3.        , 3.16227766, 3.31662479],
       [3.46410162, 3.60555128, 3.74165739, 3.87298335]])

In [47]:
np.exp(a)

array([[1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03],
       [2.98095799e+03, 8.10308393e+03, 2.20264658e+04, 5.98741417e+04],
       [1.62754791e+05, 4.42413392e+05, 1.20260428e+06, 3.26901737e+06]])

In [49]:
np.log10(a)

C:\Users\ROKAYA~1\AppData\Local\Temp/ipykernel_6348/547625357.py:1: RuntimeWarning: divide by zero encountered in log10
  np.log10(a)

array([[      -inf, 0.        , 0.30103   , 0.47712125],
       [0.60205999, 0.69897   , 0.77815125, 0.84509804],
       [0.90308999, 0.95424251, 1.        , 1.04139269],
       [1.07918125, 1.11394335, 1.14612804, 1.17609126]])

### copy vs deepcopy

In [53]:
x = np.array([1,2,3])
y = x # y points to the same memory location, also call shallow copy
y

array([1, 2, 3])

In [54]:
z = np.copy(x) # copies everything to the new list, also known as deep copy
z

array([1, 2, 3])

In [55]:
x[0] = 100  # changing value of x at index 1

In [57]:
y # y is changed because y is pointing to the same memory location

array([100,   2,   3])

In [58]:
z # z is not changed because it has changed to completely different location

array([1, 2, 3])

### id function

In [68]:
id(x)

1390832983568

In [69]:
id(y)

1390832983568

In [64]:
id(x[0]) # returns identity.The identity of an object uniquely identifies where this object is stored in the computer memory.

1390833382160

In [65]:
id(y[0])

1390833381968

In [66]:
id(z[0])

1390833382160

In [70]:
id(y[0]) == id(z[0])

True

In [71]:
id(y[0]) == id(z[1])

True

In [73]:
id(x) == id(y)

True

In [74]:
abcdef = np.array([35,56,75])

In [75]:
id(x[0]) == id(abcdef[0])

True

In [77]:
id(x) == id(abcdef[0])

False

### Find the answer for the above problem