In [2]:
print("this is my first program")

this is my first program

In [7]:
len('ramahari')

8

In [8]:
True + True

2

In [2]:
s = 'sudh'
type(s)

str

In [4]:
s[1:3]

'ud'

In [5]:
b = 'ineuron'
b[0:300]

'ineuron'

In [6]:
b[-100]

IndexError: string index out of range

In [12]:
b[-1:-4] #range is +1 by default.so conflict in direction

''

In [13]:
b[-1:-4:-1]

'nor'

In [8]:
b[0:100:-1] #positive range but negative direction

''

In [14]:
b[::]

'ineuron'

In [15]:
b[:8]

'ineuron'

In [17]:
b[-2:]

'on'

In [18]:
b[::-1]

'norueni'

In [20]:
b[-1::-1]

'norueni'

In [23]:
len(b)

7

In [31]:
a = "i am superhero of nepal"

In [32]:
a.split()

['i', 'am', 'superhero', 'of', 'nepal']

In [33]:
a.split('a')

['i ', 'm superhero of nep', 'l']

In [34]:
a.upper()

'I AM SUPERHERO OF NEPAL'

In [35]:
a = "i am SuperHero of Nepal"
a.swapcase()

'I AM sUPERhERO OF nEPAL'

In [36]:
b= "sudh"
c = "INEURON"
b.join(c)

'IsudhNsudhEsudhUsudhRsudhOsudhN'

In [40]:
reversed("sudh")

In [41]:
s = "  sudh  "
s.rstrip()

'  sudh'

In [43]:
s.lstrip()

'sudh  '

In [61]:
l = ['abc', 123131, 'kumar']

In [62]:
'abc' in l

True

In [63]:
l.append("Niraj")
l

['abc', 123131, 'kumar', 'Niraj']

In [64]:
l.pop()
l

['abc', 123131, 'kumar']

In [65]:
l.pop(2)

'kumar'

In [66]:
l.insert(1,'ramhari')
l

['abc', 'ramhari', 123131]

In [67]:
l[::-1]

[123131, 'ramhari', 'abc']

In [73]:
l.reverse()
l

[123131, 'ramhari', 'abc']

In [74]:
l2 = [2981, [893,32,32,54],'pre','rskew','roire']
l2[1][2]

32

In [76]:
l2[3][1]

's'

In [77]:
x = 'jdskdf'
x[1]

'd'

In [79]:
l2.count('pre')

1

In [80]:
l2.append([3,4,5,6])
l2

[2981, [893, 32, 32, 54], 'pre', 'rskew', 'roire', [3, 4, 5, 6]]

In [82]:
l2.extend([2,3,"asdd","xyz"]) #append passes without modification while extend modified the list.Extend is like concat
l2

[2981,
 [893, 32, 32, 54],
 'pre',
 'rskew',
 'roire',
 [3, 4, 5, 6],
 2,
 3,
 'asdd',
 'xyz']

In [2]:
t = (1, 2,3 ,4,5)
type(t)

tuple

In [5]:
t1 = ["sudh",83,True]
type(t1)

list

In [8]:
t[0:2] #slicing

(1, 2)

In [9]:
t[::-1] #reverse

(5, 4, 3, 2, 1)

In [10]:
t1[0] = "ram"
t1

['ram', 83, True]

In [11]:
t[0] = 3 #we cannot do assignment in tuple i.e it is immutable
t

TypeError: 'tuple' object does not support item assignment

In [12]:
t

(1, 2, 3, 4, 5)

In [15]:
t3 = ("ram", 921, 291)
t + t3

(1, 2, 3, 4, 5, 'ram', 921, 291)

In [16]:
t3 * 2

('ram', 921, 291, 'ram', 921, 291)

In [ ]:
# t3. use tab to check what functions we can use
# we use tuple if we have fixed size of data inside coz we cannot insert, pop and ..

In [17]:
t3.count("ram")

1

In [18]:
t3.index("ram")

0

In [20]:
t1 = ([2,3,4,6], ("sd",8321,831089),"jdj")
t1[0][2] = 9
t1

([2, 3, 9, 6], ('sd', 8321, 831089), 'jdj')

In [24]:
t1 = (329,432,323)
t1 = list(t1)

In [25]:
t1

[329, 432, 323]

In [26]:
tuple(t1)

(329, 432, 323)

In [39]:
l = [1,24,5,6,6,6,5,5,5,5,5,5,1,2,3,5,6,7,2,3,4,1]

In [40]:
l = set(l)
l# set cannot carry duplicate items

{1, 2, 3, 4, 5, 6, 7, 24}

In [41]:
type(l)

set

In [42]:
l = {} # set cannot be empty
type(l)

dict

In [43]:
s = { 1,2,34,4,5,6}
s[0]

TypeError: 'set' object is not subscriptable

In [46]:
list(s)

[1, 2, 34, 4, 5, 6]

In [47]:
s

{1, 2, 4, 5, 6, 34}

In [49]:
s.add("sudh")
s

{1, 2, 34, 4, 5, 6, 'sudh'}

In [51]:
s.add([3,4,5,6]) # we cannot put list inside set
s

TypeError: unhashable type: 'list'

In [12]:
{(3,4,5,6),4,5,6} # can hold immutable

{(3, 4, 5, 6), 4, 5, 6}

In [13]:
s = {(3,4,5,6),(3,4,5,6),4,5,5,6}
s

{(3, 4, 5, 6), 4, 5, 6}

In [14]:
s.remove(5)
s

{(3, 4, 5, 6), 4, 6}

In [15]:
s.discard(6)
s

{(3, 4, 5, 6), 4}

In [16]:
s.remove(45)

KeyError: 45

In [17]:
s.discard(45)  # remove will give error if there is no element but discard wont

In [18]:
d = {4:"sudh"}

In [19]:
d1 = {"key1":3883,"key2":"sudh",45 : [3,4,5,6]}

In [24]:
d1['key1']

3883

In [27]:
d1[45] = "Jam"
d1

{'key1': 3883, 'key2': 'sudh', 45: 'Jam'}

In [25]:
d = {3: ["sjs","jjw",2,2,1,2]}

In [28]:
del d1[45]

In [29]:
d1

{'key1': 3883, 'key2': 'sudh'}

In [30]:
d1.get('key1')

3883

In [32]:
d1.get('kds') # returns null
d1

{'key1': 3883, 'key2': 'sudh'}

In [35]:
d2 = {"xq": 21, "jdjs" : 323}
d1.update(d2)
d1

{'key1': 3883, 'key2': 'sudh', 'xq': 21, 'jdjs': 323}