In [1]:
def test():
    pass

In [2]:
def test1():
    print("this is my first function") # print alwayts return none type :- examples below

In [3]:
test1()

this is my first function

In [4]:
a = test1()

this is my first function

In [5]:
a + "sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
a = test1()

this is my first function

In [7]:
str(a) # converted to none type

'None'

In [8]:
def test2():
    return "this is my first function"

In [9]:
type(test2())

str

In [10]:
test2() + "Niraj"

'this is my first functionNiraj'

In [11]:
def test3():
    return 21321 #return will return any data type

In [12]:
type(test3())

int

In [13]:
def test4():
    return 4, 3, "niraj", [1, 2, 3, 4]

In [14]:
test4()

(4, 3, 'niraj', [1, 2, 3, 4])

In [15]:
type(test4())

tuple

In [16]:
b = test4()

In [17]:
b[1]

3

In [18]:
a, b, c , d = test4()

In [19]:
a

4

In [20]:
b

3

In [22]:
def test5():
    a = 6 * 7 / 6
    return a

In [24]:
test5()

7.0

# taking list as an input and returning list of integer as output

In [26]:
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                    n.append(i)
    return n                   # we dont use print because it will return none type

In [27]:
a = [ 1, 2, 4, "niraj", 4 + 5j]

In [29]:
test6(a)

[1, 2, 4]

In [30]:
type(test6(a))

list

In [31]:
test6([12,32,76,"fef",['gfege',8,9],("gf",98,'dsd')])

[12, 32, 76]

#  function that take dict as input and return the key of the dictionary

In [33]:
def test8(c):
    if type(c) == dict :
        return c.keys()
    else :
        return "you have not passed a dictionary"

In [34]:
test8("dmsakdsq")

'you have not passed a dictionary'

In [41]:
test8({"a" : "djkdjsa", "b" : 56, "c" : [4, 5 , 6]})

dict_keys(['a', 'b', 'c'])

# function that takes two list and return concatenation of both

In [4]:
def test9(a,b):
    if type(a) == list and type(b) == list:
        a.extend(b)
        return a
    else:
        return "either of your data is not a list"

In [5]:
test9(832)

TypeError: test9() missing 1 required positional argument: 'b'

In [7]:
test9([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

# funtion that return rows and columns in increasing order

In [7]:
def triangle(n):
    """ this is a triangle funtion
        enter integers"""
    for i in range(0,n):
        for j in range(0, i +1):
            print("*", end = " ")
        print("")

In [6]:
triangle(3) #press shift tab ko check. what we enter inside a tripple quote than the doc string is shown

*
* *
* * *

In [10]:
help(triangle) # Shows the hint i.e a docstring text

Help on function triangle in module __main__:

triangle(n)
    this is a triangle funtion
    enter integers

# Passing arguments in the function

In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [3]:
def test1(*args): # to pass any no of arguments #We can put anything inplace of args like *niraj
    return args

In [4]:
test1(45,56,78)

(45, 56, 78)

In [5]:
test1(45,34,"sudh",45.67)

(45, 34, 'sudh', 45.67)

In [6]:
test1([1,2,3,4,5],(45,67,76,78),"fsdf",34+7j)

([1, 2, 3, 4, 5], (45, 67, 76, 78), 'fsdf', (34+7j))

In [7]:
def test3(*niraj,a):
    return niraj, a

In [9]:
test3(3,4,5,a = 473)

((3, 4, 5), 473)

In [12]:
def test4(*niraj, a,b,c,d):
    return niraj, a,b,c,d

In [13]:
test4(3,4,5,6, a= [4,5,6,7], b=[8,9,10,11], c = "abcd", d=45.67)

((3, 4, 5, 6), [4, 5, 6, 7], [8, 9, 10, 11], 'abcd', 45.67)

In [14]:
#User can pass anything but the function should return only list elements
def test5(*args):
    for i in args:
        if type(i)  == list:
            return i

In [15]:
test5(3,4,5,[6,7,8],"a","b")

[6, 7, 8]

In [16]:
test5(3,4,5,[6,7,8],[9,10,11],"abc") # returning only single list #Its a problem

[6, 7, 8]

In [ ]:
#To solve the above problem

In [25]:
def test5(*args):
    l = []
    for i in args:
        if type(i)  == list:
            l.append(i)
    return l

In [26]:
test5(3,4,5,[6,7,8],[9,10,11],"abc")

[[6, 7, 8], [9, 10, 11]]

In [29]:
d = { "a": [2,3,4,5], 6: [4,5,6,7]}
d["a"]

[2, 3, 4, 5]

In [38]:
# To pass key value pair, we can  use **kwargs #Again we can use anything inplace of kwargs like **niraj
def test6(**kwargs):
    return kwargs

In [41]:
test6(3,4,5,6,7,8) # Its not working because we need to pass key and value

TypeError: test6() takes 0 positional arguments but 6 were given

In [40]:
test6(a = 4, b = [4,5,6,7])

{'a': 4, 'b': [4, 5, 6, 7]}

In [45]:
def test7(**sudh):
    return sudh

In [46]:
test7(name = 'niraj', age = 25, number = 9843)

{'name': 'niraj', 'age': 25, 'number': 9843}

In [49]:
def test8(a, *args, **kwargs):
    return a, args, kwargs

In [51]:
test8(45,45,6,7,7,655,6,g = 4556,h = 9494)

(45, (45, 6, 7, 7, 655, 6), {'g': 4556, 'h': 9494})

In [55]:
def test13(a,b):
    return a*b

In [56]:
test13(45,67)

3015

In [57]:
a = lambda a, b:(a*b, a+b)

In [58]:
a(45,67)

(3015, 112)

In [64]:
x = lambda x:[i for i in x] #lambda x pass data, i for i in x means print i for i in x

In [65]:
x([4,5,6,7])

[4, 5, 6, 7]

In [66]:
a = 10
def test16(c, d):
    return c * d

In [67]:
test16(a,50) #Assigned c as a

500

In [68]:
a =10
def test16(c,d):
    a = 5
    return c * d

In [69]:
test16(a,50)

500

In [73]:
c =10
def test16(c,d):
    c = 5
    return c * d

In [74]:
test16(c,50) #Value of c will be changed to 5

250

In [75]:
c

10

# LIST COMPREHENSION

In [82]:
l = 1,2,3,4,5,6 #Using function
def test17(a):
    l1=[]
    for i in a:
        l1.append(i+2)
    return l1

In [83]:
test17(l)

[3, 4, 5, 6, 7, 8]

In [84]:
a= lambda a: [ i+2 for i in a] #Using lambda function

In [85]:
a(l)

[3, 4, 5, 6, 7, 8]

In [86]:
[i+2 for i in l] #List Comprehension

[3, 4, 5, 6, 7, 8]

In [87]:
[(i ** 2, i+1) for i in l]

[(1, 2), (4, 3), (9, 4), (16, 5), (25, 6), (36, 7)]

In [89]:
[(i**i,i+1) for i in l if i < 4 ]

[(1, 2), (4, 3), (27, 4)]

In [2]:
{i:i**2 for i in range(10)} #creating a dictionary with key as a number and value as its square #dict comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
d = {}
for i in range(10):
    d[i] = i **2

In [5]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [7]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
s = 56
for i in s:
    print(s)

TypeError: 'int' object is not iterable

In [18]:
s = 'niraj'
for i in s:
    print(i)

n
i
r
a
j

In [19]:
a = "n"
for i in a:
    print(i)

n

In [20]:
#Iterator vs Iterable
#if we can access each object of the element then it is iterable object.

In [21]:
s

'niraj'

In [22]:
b = iter(s) # iter function converts iterable function into iterator

In [23]:
b

In [24]:
next(b)

'n'

In [25]:
next(b)

'i'

In [27]:
next(b)

'r'

In [31]:
l = [2,34,5,6,6]

In [36]:
b = iter(l)

In [37]:
next(b)

2

In [38]:
next(b)

34

In [1]:
#Ques asked in interview..Diff betn iterable vs iterator obj.(iterables are those which can be converted to iterator 
#by using iter function and the converted object is a iterator i.e each element can be accessed individually)
#HOw is for loop working => first the obj is converted using iter function and then next function is used

# GENERATOR

In [13]:
def gencube(n):
    output = []
    for i in range(n):
        output.append(i**3)
    return output

In [14]:
gencube(6)

[0, 1, 8, 27, 64, 125]

In [15]:
def gencube(n):     #yield helps to convert function as a generator
    for i in range(n):
        yield i**3

In [16]:
for i in gencube(9):
    print(i)

0
1
8
27
64
125
216
343
512

#The return statements are used in a function to return objects to the caller function. We can return a single value like 
#a number or string or a container object such as a python dictionary, a tuple, or a list. The yield statement in Python 
#turns a function into a generator. It remembers its last value and use the operation to generate next value.


#Another Point ------ The yield statement suspends function’s execution and sends a value back to the caller, but retains
#enough state to enable function to resume where it is left off. When resumed, the function continues execution 
#immediately after the last yield run. This allows its code to produce a series of values over time, rather than computing 
#them at once and sending them back like a list.

In [23]:
def fab(n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [24]:
for i in fab(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [25]:
def fib(n):
    a = 0
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [28]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [37]:
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        a,b = b, a+b
        print(type(print(a)))

In [38]:
fib(10)

1
<class 'NoneType'>
1
<class 'NoneType'>
2
<class 'NoneType'>
3
<class 'NoneType'>
5
<class 'NoneType'>
8
<class 'NoneType'>
13
<class 'NoneType'>
21
<class 'NoneType'>
34
<class 'NoneType'>
55
<class 'NoneType'>