SQLite is used to develop embedded software for devices like televisions, cell phones, cameras, etc. It can manage low to medium-traffic HTTP requests. SQLite can change files into smaller size archives with lesser metadata. SQLite is used as a temporary dataset to get processed with some data within an application.

In [1]:
import sqlite3

In [3]:
db = sqlite3.connect("ineuron.db")

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8A66-F804

 Directory of C:\Users\Rokaya Neeraj\Full Stack Data Science\Python\SQL And Not only SQL(NOSQL)\SQL

03/27/2022  11:24 AM    <DIR>          .
03/27/2022  11:24 AM    <DIR>          ..
03/27/2022  11:15 AM    <DIR>          .ipynb_checkpoints
03/27/2022  11:24 AM                 0 ineuron.db
03/27/2022  11:06 AM    <DIR>          SQL
03/27/2022  11:13 AM    <DIR>          SQL Lite
03/27/2022  11:23 AM             1,475 SQL Lite.ipynb
               2 File(s)          1,475 bytes
               5 Dir(s)  18,764,115,968 bytes free

In [5]:
c = db.cursor()

In [6]:
c.execute('create table fsds(name text,beatchid, marks real)')

In [7]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8A66-F804

 Directory of C:\Users\Rokaya Neeraj\Full Stack Data Science\Python\SQL And Not only SQL(NOSQL)\SQL

03/27/2022  11:36 AM    <DIR>          .
03/27/2022  11:36 AM    <DIR>          ..
03/27/2022  11:15 AM    <DIR>          .ipynb_checkpoints
03/27/2022  11:36 AM             8,192 ineuron.db
03/27/2022  11:06 AM    <DIR>          SQL
03/27/2022  11:25 AM    <DIR>          SQL Lite
03/27/2022  11:35 AM             3,249 SQL Lite.ipynb
               2 File(s)         11,441 bytes
               5 Dir(s)  18,767,622,144 bytes free

In [8]:
c.execute("insert into fsds values('sudh', 432, 432.67)")

In [9]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8A66-F804

 Directory of C:\Users\Rokaya Neeraj\Full Stack Data Science\Python\SQL And Not only SQL(NOSQL)\SQL

03/27/2022  11:37 AM    <DIR>          .
03/27/2022  11:37 AM    <DIR>          ..
03/27/2022  11:15 AM    <DIR>          .ipynb_checkpoints
03/27/2022  11:36 AM             8,192 ineuron.db
03/27/2022  11:37 AM                 0 ineuron.db-journal
03/27/2022  11:06 AM    <DIR>          SQL
03/27/2022  11:25 AM    <DIR>          SQL Lite
03/27/2022  11:37 AM             4,354 SQL Lite.ipynb
               3 File(s)         12,546 bytes
               5 Dir(s)  18,764,394,496 bytes free

In [10]:
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")
c.execute("insert into fsds values('sudh', 432, 432.67)")

In [12]:
data = c.execute("select * from fsds")

In [13]:
for i in data:
    print(i)

('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)

In [14]:
db.commit() # changing the values permanently

In [15]:
db.close() #closing the database

In [16]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8A66-F804

 Directory of C:\Users\Rokaya Neeraj\Full Stack Data Science\Python\SQL And Not only SQL(NOSQL)\SQL

03/27/2022  11:43 AM    <DIR>          .
03/27/2022  11:43 AM    <DIR>          ..
03/27/2022  11:15 AM    <DIR>          .ipynb_checkpoints
03/27/2022  11:41 AM             8,192 ineuron.db
03/27/2022  11:06 AM    <DIR>          SQL
03/27/2022  11:25 AM    <DIR>          SQL Lite
03/27/2022  11:43 AM             7,851 SQL Lite.ipynb
               2 File(s)         16,043 bytes
               5 Dir(s)  18,770,063,360 bytes free

In [24]:
db = sqlite3.connect("ineuron.db") # connection with the previously created database

In [25]:
c  = db.cursor() #we need to create cursor object everytime when we start the connection

In [27]:
data = c.execute("select * from fsds where marks > 400")

In [28]:
for i in data:
    print(i)

('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)

In [29]:
data = c.execute("select * from fsds where name = 'sudh'")

In [31]:
for i in data:
    print(i)

('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)
('sudh', 432, 432.67)

In [32]:
data = c.execute("select name,marks from fsds where name = 'sudh'")

In [33]:
for i in data:
    print(i)

('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)
('sudh', 432.67)

In [34]:
c.execute("drop table fsds")

In [47]:
c.execute("select * from fsds") #Note: there is no drop database command in sqlite

OperationalError: no such table: fsds

In [48]:
db.close()

In [2]:
import sqlite3

In [3]:
db = sqlite3.connect("jobdb.db")

In [4]:
c = db.cursor()

In [5]:
c.execute("create table students(student_id int, student_name varchar, student_mailid varchar, marks int)")

In [6]:
c.execute("create table addresses(student_id int, pincode int, location varchar, reference_place varchar, phone_no int)")

In [7]:
c.execute("insert into students values(1,'niraj','rokayaneeraj@gmail.com',99)")
c.execute("insert into students values(2,'pradip','rokayap@gmail.com',91)")
c.execute("insert into students values(3,'samir','samir07@gmail.com',82)")
c.execute("insert into students values(4,'rajesh','rajesh.dongol999@gmail.com',65)")

In [8]:
c.execute("insert into addresses values(3,44600, 'dabali','bhatbhateni',984385955)")
c.execute("insert into addresses values(1,44600, 'hadigaun','thatumarg',9843008614)")
c.execute("insert into addresses values(2,44600, 'baluwatar','shitalniwas',9860652613)")
c.execute("insert into addresses values(4,44600, 'gahanapokhari','workshop',9843400278)")
c.execute("insert into addresses values(45,40, 'gaapokhari','worksp',9840027756768)")
c.execute("insert into addresses values(64,44600, 'gahanapokh','wkshop',98434002765678)")
c.execute("insert into addresses values(47,44600, 'gahapokhari','orkshop',984340027867856746)")
c.execute("insert into addresses values(49,44600, 'gahanapokhari','worksop',98434002776568)")
c.execute("insert into addresses values(14,44600, 'gahanahari','workshop',98434002787658)")
c.execute("insert into addresses values(24,44600, 'gahanaokhari','wor',9843400278654)")
c.execute("insert into addresses values(44,44600, 'gahaapokhari','work',984340042378)")
c.execute("insert into addresses values(54,44600, 'gahapokhari','workp',984423378)")

In [9]:
one = c.execute("select * from students")
for i in one:
    print(i)

(1, 'niraj', 'rokayaneeraj@gmail.com', 99)
(2, 'pradip', 'rokayap@gmail.com', 91)
(3, 'samir', 'samir07@gmail.com', 82)
(4, 'rajesh', 'rajesh.dongol999@gmail.com', 65)

In [10]:
two = c.execute("select * from addresses")
for i in two:
    print(i)

(3, 44600, 'dabali', 'bhatbhateni', 984385955)
(1, 44600, 'hadigaun', 'thatumarg', 9843008614)
(2, 44600, 'baluwatar', 'shitalniwas', 9860652613)
(4, 44600, 'gahanapokhari', 'workshop', 9843400278)
(45, 40, 'gaapokhari', 'worksp', 9840027756768)
(64, 44600, 'gahanapokh', 'wkshop', 98434002765678)
(47, 44600, 'gahapokhari', 'orkshop', 984340027867856746)
(49, 44600, 'gahanapokhari', 'worksop', 98434002776568)
(14, 44600, 'gahanahari', 'workshop', 98434002787658)
(24, 44600, 'gahanaokhari', 'wor', 9843400278654)
(44, 44600, 'gahaapokhari', 'work', 984340042378)
(54, 44600, 'gahapokhari', 'workp', 984423378)

In [11]:
for i in c.execute("select * from students left join addresses on students.student_id = addresses.student_id"):
    print(i)

(1, 'niraj', 'rokayaneeraj@gmail.com', 99, 1, 44600, 'hadigaun', 'thatumarg', 9843008614)
(2, 'pradip', 'rokayap@gmail.com', 91, 2, 44600, 'baluwatar', 'shitalniwas', 9860652613)
(3, 'samir', 'samir07@gmail.com', 82, 3, 44600, 'dabali', 'bhatbhateni', 984385955)
(4, 'rajesh', 'rajesh.dongol999@gmail.com', 65, 4, 44600, 'gahanapokhari', 'workshop', 9843400278)

In [12]:
for i in c.execute("select * from students inner join addresses on students.student_id = addresses.student_id"):
    print(i)

(1, 'niraj', 'rokayaneeraj@gmail.com', 99, 1, 44600, 'hadigaun', 'thatumarg', 9843008614)
(2, 'pradip', 'rokayap@gmail.com', 91, 2, 44600, 'baluwatar', 'shitalniwas', 9860652613)
(3, 'samir', 'samir07@gmail.com', 82, 3, 44600, 'dabali', 'bhatbhateni', 984385955)
(4, 'rajesh', 'rajesh.dongol999@gmail.com', 65, 4, 44600, 'gahanapokhari', 'workshop', 9843400278)

In [13]:
for i in c.execute("select * from students right join addresses on students.student_id = addresses.student_id"):
    print(i)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [14]:
for i in c.execute("select * from addresses where student_id > 4 "):
    print(i)

(45, 40, 'gaapokhari', 'worksp', 9840027756768)
(64, 44600, 'gahanapokh', 'wkshop', 98434002765678)
(47, 44600, 'gahapokhari', 'orkshop', 984340027867856746)
(49, 44600, 'gahanapokhari', 'worksop', 98434002776568)
(14, 44600, 'gahanahari', 'workshop', 98434002787658)
(24, 44600, 'gahanaokhari', 'wor', 9843400278654)
(44, 44600, 'gahaapokhari', 'work', 984340042378)
(54, 44600, 'gahapokhari', 'workp', 984423378)

In [15]:
data = c.execute('select * from students')
data.fetchall()

[(1, 'niraj', 'rokayaneeraj@gmail.com', 99),
 (2, 'pradip', 'rokayap@gmail.com', 91),
 (3, 'samir', 'samir07@gmail.com', 82),
 (4, 'rajesh', 'rajesh.dongol999@gmail.com', 65)]

In [16]:
new = c.execute("update addresses set pincode = 44600 where pincode = 40")
new.fetchall()

[]

In [17]:
add = c.execute('select * from addresses')
add.fetchall()

[(3, 44600, 'dabali', 'bhatbhateni', 984385955),
 (1, 44600, 'hadigaun', 'thatumarg', 9843008614),
 (2, 44600, 'baluwatar', 'shitalniwas', 9860652613),
 (4, 44600, 'gahanapokhari', 'workshop', 9843400278),
 (45, 44600, 'gaapokhari', 'worksp', 9840027756768),
 (64, 44600, 'gahanapokh', 'wkshop', 98434002765678),
 (47, 44600, 'gahapokhari', 'orkshop', 984340027867856746),
 (49, 44600, 'gahanapokhari', 'worksop', 98434002776568),
 (14, 44600, 'gahanahari', 'workshop', 98434002787658),
 (24, 44600, 'gahanaokhari', 'wor', 9843400278654),
 (44, 44600, 'gahaapokhari', 'work', 984340042378),
 (54, 44600, 'gahapokhari', 'workp', 984423378)]

In [18]:
db.close()